:root {
    --navyblue: #2E2F42;
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --white: #FFFFFF;
    --cloud: #F4F4FD;
    --slate: #434455;
    --cornflower: #E7E9FC;
    --lightslate: #8E8F99;
    --green: #31D0AA;
    --transition: cubic-bezier(0.4, 0, 0.2, 1);
    --dairy: #FCFCFC;
    --navyblue-modal: rgba(46, 47, 66, 0.40);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',
        sans-serif;
    color: var(--slate);
    background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input {
    font-family: inherit;
}

.link {
    text-decoration: none;
}

.container {
    max-width: 428px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */

.header-nav {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}


.logo-header {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);
    padding-top: 25.5px;
    padding-bottom: 23.5px;
}

@media screen and (min-width:768px) {
    .logo-header {
        margin-right: 120px;
    }
}


/* ! 1158  */
@media screen and (min-width:1158px) {
    .logo-header {
        margin-right: 76px;
    }
}

/* .logo-header {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);
    margin-right: 76px;
} */

.logo-color-header {
    color: var(--navyblue);
}

.header-nav .list {
    display: none
}

@media screen and (min-width:768px) {
    .header-nav .list {
        display: flex;
        gap: 40px;
    }
}

/* ! 1158
.header-nav .list {
    display: flex;
    gap: 40px;
} */

.page-nav {
    display: flex;
    align-items: center;
}



.header-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

}

@media screen and (min-width:768px) {
    .link-list {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navyblue);
        padding: 24px 0;
        display: block;
        transition: color 250ms var(--transition);
        position: relative;
    }
}

/* !1158
.link-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    padding: 24px 0;
    display: block;
    transition: color 250ms var(--transition);
    position: relative;
} */

@media screen and (min-width:768px) {

    .link-list:hover,
    .link-list:focus {
        color: var(--ocean);
    }
}

/*!1158
 .link-list:hover,
.link-list:focus {
    color: var(--ocean);
} */

@media screen and (min-width:768px) {
    .current {
        color: var(--ocean);
    }
}

/* 1158
.current {
    color: var(--ocean);
} */

@media screen and (min-width:768px) {
    .current::after {
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--ocean, #404BBF);
        display: block;
        position: absolute;
        content: '';
        bottom: -1px;
    }
}

/* !1158
.current::after {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean, #404BBF);
    display: block;
    position: absolute;
    content: '';
    bottom: -1px;
} */

.contacts {
    display: none;
}

@media screen and (min-width:768px) and (max-width:1157px) {
    .contacts {
        font-style: normal;
        width: 120px;
        display: flex;
        flex-wrap: wrap;
    }
}


@media screen and (min-width:1158px) {

    .contacts {
        font-style: normal;
        display: flex;
        flex-wrap: wrap;
    }
}

/* !1158
.contacts {
    font-style: normal;
} */

@media screen and (min-width:768px) and (max-width:1157px) {
    .list.adress {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
}

@media screen and (min-width:768px) {
    .contact {
        color: var(--slate);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms var(--transition);
    }
}

@media screen and (min-width:1158px) {
    .contact {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/*! 1158
.contact {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    transition: color 250ms var(--transition);
} */

@media screen and (min-width:768px) {

    .contact:hover,
    .contact:focus {
        color: var(--ocean);
    }
}

/* !1158
.contact:hover,
.contact:focus {
    color: var(--ocean);
} */


.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 250ms var(--transition);
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.icon-toggle {
    stroke: var(--navyblue);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    z-index: 999;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cornflower);
    transition: background-color 250ms var(--transition),
        border 250ms var(--transition);
    cursor: pointer;
    padding: 0;
}

.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:focus {
    border: none;
    background-color: var(--ocean);
}

.menu-toggle:hover .close-black,
.menu-toggle:focus .close-black {
    fill: var(--white)
}

.mobile-menu {
    list-style: none;
    gap: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.mobile-menu .link {
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);

}

.mobile-menu .link.current {
    color: var(--ocean);
}

.mobile-contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    gap: 40px;
}

.mobile-contact .telephone {
    color: var(--iris);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mobile-contact .email {
    color: var(--slate);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.list-cocial-menu {
    display: flex;
    gap: 56px;
    justify-content: center;
    align-items: center;
    width: 328px;
}

.cocial-menu {
    width: 40px;
    height: 40px;
    transition: background-color 250ms var(--transition);
}

/* index main */

/* ? Section 1 */


.section-one-index {
    background: var(--navyblue);
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/img/background-hero@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .section-one-index {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/img/background-hero@2x.jpg);
    }
}

@media screen and (min-width:1158px) {
    .section-one-index {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
    }
}

/* !1158
.section-one-index {
    background: var(--navyblue);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/background-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
} */

.title-one {
    color: var(--white);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 320px;
    flex-shrink: 0;
    text-align: center;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width:768px) {
    .title-one {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width:1158px) {
    .title-one {

        margin-bottom: 48px;
    }
}



/* !1158
.title-one {
    color: var(--white);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    flex-shrink: 0;
    text-align: center;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
} */

.order-service-button {
    background-color: var(--iris);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: 'Roboto',
        sans-serif;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    transition: background-color 250ms var(--transition);
}

/* !1158
.order-service-button {
    background-color: var(--iris);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: 'Roboto',
        sans-serif;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    transition: background-color 250ms var(--transition);
} */

.order-service-button:hover,
.order-service-button:focus {
    background-color: var(--ocean);
}

/* ? Section 2 */

.title-two {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.feature-icon {
    display: none;
}

@media screen and (min-width:1158px) {
    .feature-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        background-color: var(--cloud);
        margin-bottom: 8px;
        border-radius: 4px;
    }
}

/* !1158
.feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--cloud);
    margin-bottom: 8px;
    border-radius: 4px;
} */

.title-three {
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

@media screen and (min-width:768px) {
    .title-three {
        text-align: start;
    }
}

@media screen and (min-width:1158px) {
    .title-three {
        color: var(--navyblue);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
}

/* !1158
.title-three {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
} */

.section-two-index {
    padding: 96px 0;
}

@media screen and (min-width:1158px) {
    .section-two-index {
        padding: 120px 0;
    }
}

/* !1158
.section-two-index {
    padding: 120px 0;
} */

.section-two-index .list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

@media screen and (min-width:768px) {
    .section-two-index .list {
        row-gap: 72px;
        column-gap: 24px;
    }
}

@media screen and (min-width:1158px) {
    .section-two-index .list {
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 24px;
    }
}

/* !1158
.section-two-index .list {
    display: flex;
    justify-content: space-between;

    gap: 24px;
} */

@media screen and (min-width:768px) {
    .list-section-two {
        width: calc((100% - 24px) / 2);

    }
}

@media screen and (min-width:1158px) {
    .list-section-two {
        width: calc((100% - 72px) / 4);

    }
}

/* !1158
.list-section-two {
    width: calc((100% - 72px) / 4);

} */

.section-two-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}

@media screen and (min-width:1158px) {
    .section-two-text {
        font-weight: 400;
    }
}

/* ? Section three */

.section-three-index {
    display: none;
}

@media screen and (min-width:1158px) {
    .section-three-index {
        padding-bottom: 120px;
        display: flex;
    }
}

@media screen and (min-width:1158px) {
    .section-three-index .title-two {
        margin-bottom: 72px;
    }
}

@media screen and (min-width:1158px) {
    .section-three-index .list {
        display: flex;
        justify-content: space-between;

        gap: 24px;
    }
}

@media screen and (min-width:1158px) {
    .list-section-three {
        width: calc((100% - 48px) / 3);
    }
}

/* !1158
.section-three-index {
    padding-bottom: 120px;
}

.section-three-index .title-two {
    margin-bottom: 72px;
}


.section-three-index .list {
    display: flex;
    justify-content: space-between;

    gap: 24px;
}

.list-section-three {
    width: calc((100% - 48px) / 3);
} */

/* ? section four */

.section-four-index {
    background-color: var(--cloud);
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width:1158px) {
    .section-four-index {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

/* !1158
.section-four-index {
    background-color: var(--cloud);
    padding-top: 120px;
    padding-bottom: 120px;
} */

.section-four-index .title-two {
    margin-bottom: 72px;
}

/* !1158
.section-four-index .title-two {
    margin-bottom: 72px;
} */

.card .title-three {
    margin-bottom: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

/* !1158
.card .title-three {
    margin-bottom: 8px;
    text-align: center;
} */

.people {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: 264px;

}

/* !1158
.people {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: 264px;

} */

.list-cocial-people {
    display: flex;
    gap: 24px;
    justify-content: center;
}

/* !1158
.list-cocial-people {
    display: flex;
    gap: 24px;
    justify-content: center;
} */

.cocial-people {
    width: 40px;
    height: 40px;
    transition: background-color 250ms var(--transition);
}

/* !1158
.cocial-people {
    width: 40px;
    height: 40px;
    transition: background-color 250ms var(--transition);
} */

.link-cocial-people {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--cloud);
    background-color: var(--iris);
    border-radius: 50%;
    transition: background-color 250ms var(--transition);
}

/* !1158
.link-cocial-people {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--cloud);
    background-color: var(--iris);
    border-radius: 50%;
    transition: background-color 250ms var(--transition);
} */

.link-cocial-people:hover,
.link-cocial-people:focus {
    background-color: var(--ocean);
}

/* !1158
.link-cocial-people:hover,
.link-cocial-people:focus {
    background-color: var(--ocean);
} */

.card {
    padding: 32px 0;
}

/* !1158
.card {
    padding: 32px 0;
} */

.section-four-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-align: center;
    margin-bottom: 8px;
}

/* !1158
.section-four-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-align: center;
    margin-bottom: 8px;
} */

.section-four-index .list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

@media screen and (min-width:768px) {
    .section-four-index .list {
        row-gap: 64px;
        column-gap: 24px;
    }
}

@media screen and (min-width:1158px) {
    .section-four-index .list {
        justify-content: space-between;

        gap: 24px;
    }
}

/* !1158
.section-four-index .list {
    display: flex;
    justify-content: space-between;

    gap: 24px;
} */



/* ? section five */

.client {
    color: var(--lightslate);
}

.link-client {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--lightslate);
    border: 1px solid var(--lightslate);
    border-radius: 4px;
    transition: border-color, color;
    transition: border-color 250ms var(--transition),
        color 250ms var(--transition);
}

.section-five-index {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width:1158px) {
    .section-five-index {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

/* !1158
.section-five-index {
    padding-top: 120px;
    padding-bottom: 120px;
} */

.section-five-index .title-two {
    margin-bottom: 72px;
}

.list-section-five {
    flex-basis: calc((100% - 16px) / 2);
    height: 88px;
}

@media screen and (min-width:768px) {
    .list-section-five {
        flex-basis: calc((100% - 48px) / 3);
    }
}

@media screen and (min-width:1158px) {
    .list-section-five {
        flex-basis: calc((100% - 120px) / 6);
    }
}

/* !1158
.list-section-five {
    flex-basis: calc((100% - 120px) / 6);
    height: 88px;
} */

.icon {
    fill: currentColor;
}

.link-client:hover,
.link-client:focus {
    border-color: var(--ocean);
    color: var(--ocean);
}

.section-five-index .list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
}

@media screen and (min-width:768px) {
    .section-five-index .list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        width: 552px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:1158px) {
    .section-five-index .list {
        display: flex;
        gap: 24px;
        width: 100%;
    }
}

/* !1158
.section-five-index .list {
    display: flex;
    gap: 24px;
} */


/* footer */

.footer {
    background-color: var(--navyblue);
    padding: 96px 0;
}

@media screen and (min-width:1158px) {
    .footer {
        padding: 100px 0;
    }
}

/* !1158
.footer {
    background-color: var(--navyblue);
    padding: 100px 0;
} */

@media screen and (max-width:767px) {

    .footer .container {
        display: flex;
        flex-direction: column;
        gap: 72px;
        align-items: center;
    }

}

@media screen and (min-width:768px) and (max-width:1157px) {
    .footer .container {
        display: flex;
        flex-wrap: wrap;
        padding: 0 108px;
        row-gap: 72px;
        column-gap: 24px;
    }

}

@media screen and (min-width:1158px) {
    .footer .container {
        display: flex;
        align-items: baseline;

    }
}

/* !1158
.footer .container {
    display: flex;
    align-items: baseline;
} */

.footer-info {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width:768px) {
    .footer-info {
        margin-right: 0;
        margin-left: 0;
    }

}

@media screen and (min-width:1158px) {
    .footer-info {
        margin-right: 120px;
    }
}

/* !1158
.footer-info {
    margin-right: 120px;
} */

.social-media {
    display: inline-block;
}

@media screen and (min-width:1158px) {
    .social-media {
        margin-right: auto;
    }
}

.footer .list {
    display: flex;
    gap: 16px;
}



.text-social {
    margin-bottom: 16px;
    color: var(--white);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    text-align: center;
}

@media screen and (min-width:768px) {
    .text-social {

        text-align: inherit;
    }

}

/* !1158
.text-social {
    margin-bottom: 16px;
    color: var(--white);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
} */

.logo-footer {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:768px) {
    .logo-footer {

        display: inline-block;
    }

}

/* !1158
.logo-footer {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);
    margin-bottom: 16px;
    display: inline-block;
} */


.logo-color-footer {
    color: var(--cloud);
}

.footer-text {
    line-height: 1.5;
    color: var(--cloud);
    letter-spacing: 0.02em;
    width: 268px;
}

@media screen and (min-width:768px) {
    .footer-text {

        width: 264px;
    }

}

/* !1158
.footer-text {
    line-height: 1.5;
    color: var(--cloud);
    letter-spacing: 0.02em;
    width: 264px;
} */

.link-cocial-footer {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: var(--cloud);
    background-color: var(--iris);
    border-radius: 50%;
    background-color 250ms var(--transition);
    transition: background-color 250ms var(--transition);
    ;
}

.link-cocial-footer:hover,
.link-cocial-footer:focus {
    background-color: var(--green);
}



@media screen and (max-width:767px) {

    .form-subscribe {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}


@media screen and (main-width:1158px) {

    .form-subscribe {
        margin-left: auto;
    }

}



/* !1158
.form-subscribe {
    margin-left: auto;
} */

@media screen and (max-width:767px) {

    .footer-form {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
    }
}

@media screen and (min-width:768px) {
    .footer-form {
        display: flex;
        gap: 24px;
    }
}

/* !1158
.footer-form {
    display: flex;
    gap: 24px;
} */

.footer-label {
    display: flex;
    flex-direction: column;
}

.form-text {
    margin-bottom: 16px;
    color: var(--white);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-input {
    width: 398px;
    border-radius: 4px;
    border: 1px solid var(--white);
    background-color: transparent;
    padding-left: 16px;
    height: 40px;
    color: var(--white);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    opacity: 0.30000001192092896;
}

@media screen and (min-width:768px) {
    .footer-input {
        width: 264px;
    }

}

@media screen and (min-width:1158px) {
    .footer-input {
        opacity: 1;
    }

}

/* !1158
.footer-input {
    width: 264px;
    border-radius: 4px;
    border: 1px solid var(--white);
    background-color: transparent;
    padding-left: 16px;
    height: 40px;
    color: var(--white);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
} */

.footer-input::placeholder {
    color: var(--white);
    font-family: Roboto;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    opacity: 0.6000000238418579;
}

/* !1158
.footer-input::placeholder {
    color: var(--white);
    font-family: Roboto;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

} */

.footer-btn {
    height: 40px;
    background-color: var(--iris);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: inherit;
    border: none;
    border-radius: 4px;
    min-width: 165px;
    transition: background-color 250ms var(--transition);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: var(--ocean);
}

.footer-btn .icon {
    margin-left: 16px;
}

/* Portfolio */

.section-one-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.section-one-portfolio .list {
    gap: 24px;
}

.section-one-portfolio .list.filtr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    gap: 24px;
}

.filtr-button {
    font-family: "Roboto",
        sans-serif;
    background-color: var(--cloud);
    border: 1px solid var(--cornflower);
    color: var(--iris);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    transition: color 250ms var(--transition), background-color 250ms var(--transition), border-color 250ms var(--transition), box-shadow 250ms var(--transition);
}

.filtr-button:hover,
.filtr-button:focus {
    background-color: var(--ocean);
    color: var(--white);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.list.table {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.section-one-portfolio .list {
    row-gap: 48px;
}

.table-element {
    display: flex;
    height: 420px;
    padding-bottom: 0px;

    flex-shrink: 0;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    width: calc((100% - 48px) / 3);


}



.link-table {
    display: block;
    transition: box-shadow 250ms var(--transition);
}

.link-table:hover,
.link-table:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.overlay-element {
    position: relative;
    overflow: hidden;
}

.overlay {}


.overlay-card {
    color: var(--cloud);
    padding: 40px 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    font-size: 16px;
    transform: translateY(100%);
    transition: transform 250ms var(--transition);
}

.link-table:hover .overlay-card,
.link-table:focus .overlay-card {
    transform: translateY(0%)
}



.name-element {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.title-element {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}

.text-element {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms var(--transition), visibility 250ms var(--transition);
}


.modal {
    width: 392px;
    min-height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--dairy);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: transform 250ms var(--transition);
    padding: 72px 16px 24px 16px;
}

@media screen and (min-width:768px) {
    .modal {
        width: 408px;

        padding: 72px 24px 24px 24px;
    }
}

/* !1158
.modal {
    width: 408px;
    min-height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--dairy);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: transform 250ms var(--transition);
    padding: 72px 24px 24px 24px;

} */


.close-button {
    width: 24px;
    height: 24px;
    background-color: var(--cornflower);
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.10);
    transition: background-color 250ms var(--transition),
        border 250ms var(--transition);
    cursor: pointer;
    padding: 0;
}


/* !1158
.close-button {
    width: 24px;
    height: 24px;
    background-color: var(--cornflower);
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.10);
    transition: background-color 250ms var(--transition),
        border 250ms var(--transition);
    cursor: pointer;
    padding: 0;
} */

.close-button:hover,
.close-button:focus {
    border: none;
    background-color: var(--ocean);
}

.close-black {
    fill: var(--navyblue);
    transition: fill 250ms var(--transition);
}

.close-button:hover .close-black,
.close-button:focus .close-black {
    fill: var(--white)
}

.modal-text {
    color: var(--navyblue);
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

/* !1158
.modal-text {
    color: var(--navyblue);
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
} */

.modal-form {}

.form-element {
    margin-bottom: 8px;
    position: relative;
}

.form-label {
    display: block;
    margin-bottom: 4px;

    color: var(--lightslate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.form-input {
    width: 100%;
    min-height: 40px;
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal);
    background-color: transparent;
    padding-left: 34px;
    transition: border-color 250ms var(--transition);
    outline: transparent;
}

@media screen and (min-width:1158px) {
    .form-input {
        padding-left: 38px;
    }
}

/* !1158
.form-input {
    width: 100%;
    min-height: 40px;
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal);
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms var(--transition);
    outline: transparent;
} */

.input-icon {
    position: relative;
}

.icon-black {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--navyblue);
    transition: fill 250ms var(--transition);
}

.form-input:hover+.icon-black,
.form-input:focus+.icon-black {
    fill: var(--iris);
}

.form-input:hover,
.form-input:focus {
    border: 1px solid var(--iris);
}


.form-input.form-textarea {
    width: 360px;
    height: 120px;
}

.form-textarea {
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navyblue-modal);
}

.form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navyblue-modal);
}

.form-element.label {
    margin-bottom: 16px;
}

.check {
    margin-bottom: 24px;
}

.accept-text {
    color: var(--lightslate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.check-span {
    border-radius: 2px;
    border: 1px solid var(--navyblue-modal);
    height: 16px;
    width: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms var(--transition),
        border 250ms var(--transition), border-color 250ms var(--transition),
        fill 250ms var(--transition);
}


.input-check:focus+.accept-text .check-span {
    border-color: var(--ocean);
}


.input-check:checked+.accept-text .check-span {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}



.link-modal {
    color: var(--iris);
}

.form-button {
    display: block;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 169px;
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 56px;
    transition: background-color 250ms var(--transition);
    cursor: pointer;
}

.form-button:hover,
.form-button:focus {
    background-color: var(--ocean);
}